<!Doctype HTML>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="{{url_for('static', filename = 'css/style_dashboard.css')}}" type="text/css"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
</head>


<body>
	
	<div id="mySidenav" class="sidenav">
	<p class="logo"><span>Med Locker</span></p>
	<p class="logo1">-by BUG_BYTERS </p>
  <a href="/"class="icon-a"><i class="fa fa-thin fa-face-smile"></i> &nbsp;&nbsp;Log Out</a>
 

</div>
<div id="main">

	<div class="head">
	
	<div class="col-div-6">
	<div class="profile">

		
		<p>{{username}}</p>
	</div>
</div>
	<div class="clearfix"></div>
</div>

	<div class="clearfix"></div>
	<br/>
	

	<div class="clearfix"></div>
	<br/><br/>
	<div class="col-div-8">
		<div class="box-8">
		<div class="content-box">
			<p>My Reports</p>
			<br/>
			<table>

  
  <tr>
    <th>{{record_info}}</th>
    <th>Date</th>
    <th>By Doctor</th>
  </tr>
  

  
</table>
		</div>
	</div>
	</div>

	<div class="col-div-4">
		<div class="box-4">
		<div class="content-box">
			<p>Preview </p>
      <div >
        
          <div class="default_p">
              
          </div>

          

        
      <img src="../my_images/4.png"  class="d_preview_img" id="d_preview1_img" alt="">
      <img src="../my_images/1.jpg" class="d_preview_img" id="d_preview2_img" alt="">
      <img src="../my_images/2.jpg" class="d_preview_img" id="d_preview3_img" alt="">
      <img src="../my_images/3.png" class="d_preview_img" id="d_preview4_img" alt="">
   
      </div>

      
		</div>
    <button id="img1_download">OPEN IMAGE</button>
    <button id="img2_download">OPEN IMAGE</button>
    <button id="img3_download">OPEN IMAGE</button>
    <button id="img4_download">OPEN IMAGE</button>
	</div>
	</div>
		
	<div class="clearfix"></div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

  $(".nav").click(function(){
    $("#mySidenav").css('width','70px');
    $("#main").css('margin-left','70px');
    $(".logo").css('visibility', 'hidden');
    $(".logo span").css('visibility', 'visible');
     $(".logo span").css('margin-left', '-10px');
     $(".icon-a").css('visibility', 'hidden');
     $(".icons").css('visibility', 'visible');
     $(".icons").css('margin-left', '-8px');
      $(".nav").css('display','none');
      $(".nav2").css('display','block');
  });

$(".nav2").click(function(){
    $("#mySidenav").css('width','300px');
    $("#main").css('margin-left','300px');
    $(".logo").css('visibility', 'visible');
     $(".icon-a").css('visibility', 'visible');
     $(".icons").css('visibility', 'visible');
     $(".nav").css('display','block');
      $(".nav2").css('display','none');
 });

 $(document).ready(function(){
  $(".d_preview_img").hide();
  $(".d_preview_img").hide();
  $(".d_preview_img").hide();
  $(".d_preview_img").hide();
  $("#img2_download").hide();
  $("#img3_download").hide();
  $("#img4_download").hide();
  $("#img1_download").hide();
});

 

 $("#d_name1").click(function(){
  $(".default_p").hide();
  $("#d_preview2_img").hide();
  $("#d_preview3_img").hide();
  $("#d_preview4_img").hide();
  $("#img2_download").hide();
  $("#img3_download").hide();
  $("#img4_download").hide();
  $("#img1_download").show();
  $("#d_preview1_img").show();
});
 $("#d_name2").click(function(){
  $(".default_p").hide();
  $("#d_preview1_img").hide();
  $("#d_preview3_img").hide();
  $("#d_preview4_img").hide();
  $("#img1_download").hide();
  $("#img3_download").hide();
  $("#img4_download").hide();
  $("#img2_download").show();
  $("#d_preview2_img").show();
});
$("#d_name3").click(function(){
$(".default_p").hide();
 $("#d_preview1_img").hide();
 $("#d_preview2_img").hide();
 $("#d_preview4_img").hide();
 $("#img2_download").hide();
  $("#img1_download").hide();
  $("#img4_download").hide();
  $("#img3_download").show();
 $("#d_preview3_img").show();
}); 
 $("#d_name4").click(function(){
  $(".default_p").hide();
  $("#d_preview1_img").hide();
  $("#d_preview3_img").hide();
  $("#d_preview2_img").hide();
  $("#img2_download").hide();
  $("#img3_download").hide();
  $("#img1_download").hide();
  $("#img4_download").show();
  $("#d_preview4_img").show();
});




</script>



<script
  src="https://code.jquery.com/jquery-3.6.1.min.js"
  integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
  crossorigin="anonymous"></script>
  <script src="{{url_for('static', filename= 'js/dashboard/FileSaver.min.js')}}"></script>
  <script src="{{url_for('static', filename= 'js/dashboard/script.js')}}"></script>
  

</body>


</html>