<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/style_loginpage.css')}}">
    <title>Login</title>
</head>

<body>
    <h1>Med-Locker</h1>
    <div>
        <button class="button button5" onclick="location.href='/'">I AM A DOCTOR</button>
        <button class="button button5" onclick="location.href='/patientloginform'">I AM A PATIENT</button>
    </div>
    <div>
        

    </div>
    <div class="input-field">
        <button class="submit" onclick="location.href='/'">GO BACK TO HOME PAGE</button>
    </div>


</body>

</html>